<ion-view view-title="Jeux Concours">
<ion-nav-buttons side="left">
          <a nav-clear class="ion-home"  style="font-size: 33px; line-height:0; color:white" href="#tab/pictures">
        </a>
</ion-nav-buttons>
<ion-nav-buttons side="right">
          <img src="img/logo.png" class ="logo">
</ion-nav-buttons>   
  <ion-content>
    
    <div class="tabs tabs-icon-left">
  <a class="tab-item" href="#/tab/home">
   Home
  </a>
  <a class="tab-item" href="#/tab/about">
    About
  </a>
</div>
  </ion-content>
</ion-view>
