<ion-view view-title="Programme">
<ion-nav-buttons side="left">
          <a nav-clear class="ion-home"  style="font-size: 33px; line-height:0; color:white" href="#/tab/events">
        </a>
</ion-nav-buttons>
<ion-nav-buttons side="right">
          <img src="img/logo.png" class ="logo">
</ion-nav-buttons>   
  <ion-content style="padding-top:10px">
    <div class="item item-divider">
          Points Forts
    </div>
    <div class=" padding">
      <a class="item">
          <h2>Point 1</h2>
          <p>ici on detail un peu le points en question</p>
      </a>
      </div>
    <div class=" padding">
      <a class="item">
          <h2>Point 2</h2>
          <p>ici on detail un peu le points en question</p>
      </a>
      </div>
      <div class=" padding">
      <a class="item">
          <h2>Point 3</h2>
          <p>ici on detail un peu le points en question</p>
      </a>
      </div>
    <div class=" padding">
      <a class="item">
          <h2>Point 4</h2>
          <p>ici on detail un peu le points en question</p>
      </a>
      </div>
      <div class=" padding">
      <a class="item">
          <h2>Point 5</h2>
          <p>ici on detail un peu le points en question</p>
      </a>
      </div>
    <div class=" padding">
      <a class="item">
          <h2>Point 6</h2>
          <p>ici on detail un peu le points en question</p>
      </a>
      </div>
      <div class=" padding">
      <a class="item">
          <h2>Point 7</h2>
          <p>ici on detail un peu le points en question</p>
      </a>
      </div>
    <div class=" padding">
      <a class="item">
          <h2>Point 8</h2>
          <p>ici on detail un peu le points en question</p>
      </a>
      </div>
  </ion-content>
</ion-view>
